#a1{
    margin-left:25%;
    margin-right:25%;
    margin-top:3.4%;
    background-color: #cccccc;
    width: 50%;
}
#image1{
    width:100%;
}
.head{
    text-decoration: none; 
    font-family:cursive;
    font-size:0.83vw;
    position: absolute;
    top:35%;
}
#text3{
    font-size:  1.0416666666666667vw;
    font-family: cursive;
}
#image2{
    width:100%;
}