.input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 20px);
    align-items: center;
}
    .input-form img{
        width: 40vw;
        margin-bottom: 30px;
    }
    .input-form .form{
        background-image: url(../assets/images/bg-lightwool.png);
        border-radius: 5px;
    }
    .input-form form{
        width: 50vw;
        height: 30em;
        border: 2px dashed rgb(63, 63, 63);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        .input-form form input, textarea{
            background-color: white;
        }
        .input-form form .input-box{
            padding-top: 1em;
        }
        .input-form form .submit input{
            padding: 0.5em;
            border-radius: 10px;
        }
        .input-form form .submit input:hover{
            cursor: pointer;
        }
        .input-form form .error{
            display: none;
            color: rgb(199, 0, 0);
        }
        .input-form form .signup-success{
            display: none;
            color: hsl(120, 100%, 30%);
        }
    .input-form .buttons{
        margin-top: 1em;
    }
        .input-form .buttons button{
            padding: 0.5em;
            border-radius: 5px;
        }